.profile-background {
    position: relative;
	min-height: 100vh;
	height: 100%;
	width: 100%;
    background-image: linear-gradient(to bottom right, rgba(36, 36, 36, 0.89), rgba(22, 22, 56, 0.979)), url(../../pics/movie-background.jpg);
	background-size: cover;
	background-position: center;
    background-attachment: fixed;

    color: white
}

