.crop {
    margin: 20px 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 150px; 
}

.myFont {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

h2 {
    margin-bottom: 45px;
}

h2:after {
    width: 125px;
    display: block;
    height: 2px;
    background-color: rgb(200, 50, 102);
    content: "";
    margin: 25px auto;   
}

