.crop {
    margin: 20px 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 150px; 
}

.myFont {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

