.crop {
    margin: 20px 0;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 150px; 
}

.myFont {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

h2, h3 {
    margin-bottom: 45px;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 2px;
}

h3:after,
h2:after {
    width: 100px;
    display: block;
    height: 2px;  
    content: "";      
}

h3:after {
    background-color: #54c8ff;
    margin: 15px auto; 
}


h2:after {
    background-color: rgb(200, 50, 102);
    margin: 30px auto; 
}

.header-center {
    text-align: center;
    color: white;
}

